.favorite-icon {
  z-index: 999;
}
.favorite-icon :hover {
  color: firebrick;
}
.checkbox-filters {
  min-width: 180px;
  color: red;
}
.login-button,
.signup-button {
  width: 45%;
  margin-top: 500px;
}

.marquee {
  overflow: hidden;
  position: relative;
  animation: MarqueeLeft linear 10s infinite;
  grid-area: footer;
}

@keyframes MarqueeLeft {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}

/*
.dog-card{
    max-width: 290px;
} */
/* .home-link, .dog-breeds-link, .about-link{
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: teal;
}

.home-link, .dog-breeds-link, .about-link :hover{
    color: white
} */
.home-link,
.dog-breeds-link,
.about-link {
  color: white;
  background-color: rgb(28, 160, 160);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin: 3px;
}
.search-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.filter-dogs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.filter-dogs .ui.segment {
  margin-top: 0;
}
